<body class="product-category-all">
  <div class="product-title-box">
    <h2 class="protuct-title">商品一覧</h2>
  </div>
  <div class="product-category">
    <div class="snack-lists">
      <h3 class="category-name">スナック</h3>
    </div>
    <div class="chocolate-lists">
      <h3 class="category-name">チョコレート</h3>
    </div>
    <div class="candy-lists">
      <h3 class="category-name">飴・ラムネ・ガム</h3>
    </div>
    <div class="jello-lists">
      <h3 class="category-name">ゼリー・グミ・ドリング</h3>
    </div>
    <div class="pan-lists">
      <h3 class="category-name">パン・餅</h3>
    </div>
    <div class="delicacy-lists">
      <h3 class="category-name">珍味</h3>
    </div>
  </div>
</body>
